.sweet {
    border: 0px;
    margin-top: 3.5px;
    background-color: #ffffff;
    color: black;
}

#rate {
    font-size: 1.2em;
    color: red;
}

#charges {
    color: blue;
}

.item-pic {
    border-radius: 7px;
    box-shadow: 8px 8px 3px grey;
}